.navbar {
  padding: 8px 15px;
  border-bottom: 0px;
  font-family: "Font";
  color: #08ef61;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.registration-btn {
  margin: auto 0px;
}
